
.espacio {
    padding: 20px;
}

.logoTrello {
    width: 30px;
    height: 30px;
} 

.agregarTarjeta {
    align-items: center;
    background-color: lightskyblue;
    width: 12%;
}

body{
    /*background-color: rgb(30, 30, 95);*/
    background-color: rgb(123, 123, 176);
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.tarjetas, contenedor {
    margin: 20px;
    display: grid;
    margin-bottom: 10px;
}
.contenedor{
    padding: 1%;
    width: 80%;
    background-color: rgba(9, 7, 50, 0.393);
}
.prueba{
    justify-content: flex-start;
}