body{
    background-image: url(/img/fondoMontañaAguaVerde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: rgb(30, 30, 95);*/
    /*background-color: rgb(123, 123, 176);*/
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.titulo{
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.linea{
    color: white;
    width: 100%;
}

.contenedor{
    width: 80%;
    background-color: rgba(9, 7, 50, 0.369);
    display: grid;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.botonColumn{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: flex-end;
}

.botonCard{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-self: flex-end;
}
